[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pymzml = "*"
psycopg2-binary = "*"
redis = "*"
celery = "*"
jsonpickle = "*"
django-extensions = "*"
django-grappelli = "*"
django-markdown2 = "*"
django-model-utils = "*"
django-ipware = "*"
networkx = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
gensim = "*"
tensorflow = "*"
tqdm = "*"
requests = "*"
Django = "*"
Keras = "*"
ChemSpiPy = "*"
python-memcached = "*"
django-debug-toolbar = "*"
django-debug-toolbar-force = "*"

[dev-packages]

[requires]
python_version = "3.8"
