[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
networkx = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
# Protobuf is fixed to version 3.20.3 due to compatibility with the custom TensorFlow wheel.
protobuf = "==3.20.3"
# Fix for database connection isn't set to UTC issue.
psycopg2-binary = "==2.8.6" 
redis = "*"
celery = "*"
gunicorn = "*"
pymzml = "*"
ChemSpiPy = "*"
jsonpickle = "*"
tqdm = "*"
requests = "*"
django = "==3.0.6" # https://github.com/glasgowcompbio/ms2ldaviz/issues/169
django-extensions = "*"
django-grappelli = "*"
django-markdown2 = "*"
django-model-utils = "*"
django-ipware = "*"
django-debug-toolbar = "*"
django-debug-toolbar-force = "*"
django-countries = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
runcelery = "/bin/bash -c 'cd ms2ldaviz && exec ./start_celery_prod.sh'"
