pymzml==2.4.6
psycopg2-binary
amqp==2.5.2
billiard==3.6.2.0
redis==3.4.1
celery==4.4.0
decorator==4.4.1
Django==3.0.3
django-extensions==2.2.7
django-grappelli==2.13.4
django-ipware==2.1.0
django-jfu==2.0.9
django-markdown2==0.3.1
django-model-utils==4.0.0
jsonpickle==1.2
keras==2.3.1
kombu==4.6.7
markdown2==2.3.8
networkx==2.4
numpy==1.18.1
pandas
pytz==2019.3
scikit-learn==0.22.1
scipy
six==1.14.0
typing==3.7.4.1
vine==1.3.0
gensim==3.8.1
tensorflow==2.0.0
tqdm==4.42.1
chemspipy==2.0.0
requests==2.22.0
funcsigs==1.0.2
python-memcached==1.59
django-debug-toolbar==2.2
django-debug-toolbar-force==0.1.7