{% extends 'base.html' %}
{% load static %}

{% block body_block %}

        <div class="panel-group">
    	{% if experiment %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Experiment: {{experiment.name}}</h3>
                    <a href="/basicviz">Return to Experiment List</a>
                </div>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Mass2Motif Details</h4>
                <p>
                    The following table lists the decomposition results for fragmentation spectra in this
                    dataset. Also shown are the names and annotation of the original Mass2Motifs used for decomposition.
                </p>
                <table class="table" id='m2mtable'>
                <thead>
                    <tr>
                        <th>Original Name</th>
                        <th>Original Experiment</th>
                        <th>Original Annotation</th>
                    </tr>
                </thead>
                <tbody>
                {% for mass2motif in mass2motifs %}
                    <tr>
                        <td>
                            <a href="/decomposition/view_parents/{{decomposition.id}}/{{mass2motif.id}}">
                            {{mass2motif.name}}
                            </a>
                        </td>
                        <td>{{mass2motif.originalmotif.experiment}}</td>
                        <td>{{mass2motif.annotation}}</td>
                    </tr>
                    <!-- &nbsp;<a href="/basicviz/show_docs/{{experiment.id}}">show parents</a>&nbsp;<a href="/basicviz/start_viz/{{experiment.id}}">start viz</a>&nbsp;<a href="/basicviz/view_mass2motifs/{{experiment.id}}">show mass2motifs</a></li> -->
                {% endfor %}
                </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}

{% block js_block %}

<script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>

<script src="{% static 'js/dataTables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/dataTables/buttons.html5.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'js/dataTables/dataTables.bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'js/dataTables/buttons.dataTables.min.css' %}" type="text/css">

<script type="text/javascript">
$(document).ready(function() {
	$('#m2mtable').DataTable({
		dom: 'Bfrtip',
		buttons: [
        'csv',
        ],
    });   
});
</script>


{% endblock %}