{% extends 'base.html' %}

<html>

{% block title %}Select an experiment{% endblock %}

{% block body_block %}
<h3>Select an experiment to view</h3>
Logged in as {{user}}, <a href="/basicviz/logout">Logout</a>
<table class="table">
<tr><th>Name</th><th>Description</th><th>Actions</th></tr>

{% for experiment in experiments|dictsort:"name" %}
	<tr><td>{{experiment.name}}</td>
	<td>{{experiment.description}}</td>
	<td>
	<a href="/basicviz/show_docs/{{experiment.id}}" class="btn btn-xs btn-success" role="button">Show parents</a>
    <a href="/basicviz/view_mass2motifs/{{experiment.id}}" class="btn btn-xs btn-success" role="button">Show Mass2Motifs</a>
	<a href="/basicviz/document_pca/{{experiment.id}}" class = "btn btn-xs btn-success" role="button">Document PCA</a>
	<br/><br/>
	<a href="/basicviz/start_viz/{{experiment.id}}" class="btn btn-xs btn-primary" role="button">Start vis.</a>
	<br/><br/>
    <a href="/basicviz/validation/{{experiment.id}}" class="btn btn-xs btn-warning" role="button">Validate (for Justin)</a>
    <a href="/basicviz/topic_pca/{{experiment.id}}" class = "btn btn-xs btn-success" role="button">Topic PCA</a>
    <a href="/basicviz/extract_docs/{{experiment.id}}" class="btn btn-xs btn-primary" role="button">Extract documents</a>
    </td></tr>
{% endfor %}
</ul>
{% endblock %}
