{% extends 'base.html' %}

<html>

{% block title %}Select an experiment{% endblock %}

{% block body_block %}
<h3>Select an experiment to view</h3>
<table class="table">
<tr><th>Name</th><th>Description</th><th>Actions</th></tr>
{% for experiment in experiments %}
	<tr><td>{{experiment.name}}</td>
	<td>{{experiment.description}}</td>
	<td>
	<a href="/basicviz/show_docs/{{experiment.id}}" class="btn btn-xs btn-default" role="button">Show parents</a>
    <a href="/basicviz/start_viz/{{experiment.id}}" class="btn btn-xs btn-primary" role="button">Start interactive vizualisation</a>
    <a href="/basicviz/view_mass2motifs/{{experiment.id}}" class="btn btn-xs btn-success" role="button">Show Mass2Motifs</a>
    <a href="/basicviz/start_annotated_viz/{{experiment.id}}" class = "btn btn-xs btn-warning" role="button">Start visualisation with just annotated molecules</a>
    <a href="/basicviz/document_pca/{{experiment.id}}" class = "btn btn-xs btn-success" role="button">Document PCA</a>
    </td></tr>
{% endfor %}
</ul>
{% endblock %}
