{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<meta charset='utf-8'>
<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/basicviz.css" %}">
<body>
<script type='text/javascript' src="{% static "js/d3.v3.min.js" %}"></script>
<script type='text/javascript' src="{% static "js/d3.tip.v0.6.3.js" %}"> </script>
<script type='text/javascript' src="{% static "js/basicviz-network.js" %}"> </script>
<script type='text/javascript' src="{% static "js/basicviz-spectra.js" %}"> </script>
<script type='text/javascript' src="{% static "js/seedrandom.min.js" %}"> </script>
<script type='text/javascript' src="{% static "js/word-graph.js" %}"> </script>
</script>

<script>
var annotated = 0
// var experiment_id = '{{ experiment.id}}'
// var min_degree = '{{vo.min_degree}}'
// var edge_thresh = '{{vo.edge_thresh}}'
var viz_options = '{{viz_options.id}}'
plot_graph(viz_options);

var current_pos = 0;
var motif_name = '{{initial_motif.name}}'
var motif_id = {{initial_motif.id}}
load_parents(motif_id, motif_name,viz_options); // Hopefully there is such a motif!

var url = '/basicviz/get_word_graph/' + motif_id + '/';
plot_word_graph(url,motif_id, motif_name);

var url = '/basicviz/get_intensity/' + motif_id + '/';
plot_word_graph(url,motif_id, motif_name);
</script>
<div class="ui-widget" style="padding-top: 10px; padding-bottom: 10px">
    <input id="searchText">
    <button id="searchBtn" type="button" onclick="searchNode()">Search</button>&nbsp;
    <button id="resetBtn" type="button" onclick="resetSearch()">Reset</button>
    <div id="message">
        Loading, please wait ...
    </div>
</div>
<div id="spectra"></div>
<div id="network"></div>
<div id="graphs"></div>

{% endblock %}