{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static "css/basicviz.css" %}">
{% endblock %}

{% block body_block %}
    <h3>Visualisation Panels</h3>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="network"><h4>Network Visualisation</h4>
                <p>
                    The network will appear below. Squares indicate molecules, circles Mass2Motifs (topics).
                    Edges are coloured according to probability or overlap score (the darker, the higher the probability/score).
                    Hover over a node to see information. Double-click on a Mass2Motif to see its molecules.
                    You can search for any node in the network by names through the search box below.
                </p>
                <div class="ui-widget" style="padding-top: 10px; padding-bottom: 10px">
                    <input id="searchText">
                    <button id="searchBtn" type="button">Search</button>&nbsp;
                    <button id="resetBtn" type="button">Reset</button>
               </div>
                <p><div id="status">Loading...</div></div></p>
                <div id="show_ms1_div">
                    <label>
                        <input type="checkbox" name="show_ms1" id="show_ms1">&nbsp;Show MS1 analysis in the network
                    </label>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Fragmentation Spectra Plot</h4>
                <p>
                    When you double-click on a Mass2Motif in the network visualisation above, the
                    spectra of the molecules associated with it will appear in the fragmentation spectra plot below.
                    Features (fragments and losses) explained by this Mass2Motif will be coloured red.
                    Click <strong>Next</strong> and <strong>Previous</strong> to cycle through
                    the fragmentation spectra.</p></div>
                <div id="spectra">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="graphs">
                    <h4>Counts of Mass2Motif Features</h4>
                    <p>
                        When you double-click on a Mass2Motif, two bar plots will appear below this message.
                        The first shows the proportion of the total intensity of these features explained by
                        this Mass2Motif. Red bars show the total intensity (across the whole dataset),
                        blue bars show the proportion explained by the selected Mass2Motif. The second shows
                        the number of times each feature in this Mass2Motif appears in the documents associated
                        with this Mass2Motif.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_block %}

    <script type='text/javascript' src="{% static "js/d3.v3.min.js" %}"></script>
    <script type='text/javascript' src="{% static "js/basicviz-network.js" %}"> </script>
    <script type='text/javascript' src="{% static "js/basicviz-spectra.js" %}"> </script>
    <script type='text/javascript' src="{% static "js/seedrandom.min.js" %}"> </script>
    <script type='text/javascript' src="{% static "js/word-graph.js" %}"> </script>

    <script type='text/javascript'>

        function blockUI() {
            $.blockUI({ css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: .5,
                color: '#fff'
            } });
        }

        var annotated = 0;
        // var experiment_id = '{{ experiment.id}}';
        // var min_degree = '{{vo.min_degree}}';
        // var edge_thresh = '{{vo.edge_thresh}}';

        blockUI();

        var viz_options = '{{viz_options.id}}';
        var show_ms1 = $("#show_ms1").is(':checked');
        $("#show_ms1_div").css({"visibility":"hidden"});
        plot_graph(viz_options,'{{viz_options.random_seed}}',show_ms1);

        $('#show_ms1').on('change', function() {
            blockUI();
            d3.selectAll('#network svg').remove();
            d3.selectAll('#spectra svg').remove();
            d3.selectAll('#graphs svg').remove();
            $('#status').html('Loading...');
            $("#show_ms1_div").css({"visibility":"hidden"});
            var show_ms1 = $("#show_ms1").is(':checked');
            plot_graph(viz_options,'{{viz_options.random_seed}}',show_ms1);
        })

        // var current_pos = 0;
        // var motif_name = '{{initial_motif.name}}'
        // var motif_id = {{initial_motif.id}}
        // load_parents(motif_id, motif_name,viz_options); // Hopefully there is such a motif!

        // var url = '/basicviz/get_word_graph/' + motif_id + '/' + viz_options + '/';
        // plot_word_graph(url,motif_id, motif_name);

        // var url = '/basicviz/get_intensity/' + motif_id + '/' + viz_options + '/';
        // plot_word_graph(url,motif_id, motif_name);

    </script>

{% endblock %}