{% extends 'base.html' %}
{% load static %}

{% block head_block %}

{% endblock %}

{% block body_block %}

<h2>High classyfire probabilities for {{experiment.name}}</h2>
<h3>Taxa</h3>

<table class='table' id='taxatable'>
	<thead>
		<tr><th>Term</th><th>Motif</th><th>Probability</th></tr>
	</thead>
	<tbody>
		{% for term_instance in taxa_instances %}
			<tr>
				<td>{{term_instance.taxterm.name}}</td>
				<td><a href="/basicviz/view_parents/{{term_instance.motif.id}}">{{term_instance.motif.name}}</a></td>
				<td>{{term_instance.probability}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<h3>Substituents</h3>

<table class='table' id='subtable'>
	<thead>
		<tr><th>Term</th><th>Motif</th><th>Probability</th></tr>
	</thead>
	<tbody>
		{% for term_instance in substituent_instances %}
			<tr>
				<td>{{term_instance.subterm.name}}</td>
				<td><a href="/basicviz/view_parents/{{term_instance.motif.id}}">{{term_instance.motif.name}}</a></td>
				<td>{{term_instance.probability}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}

{% block js_block %}
	



	<script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>

	<script src="{% static 'js/dataTables/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'js/dataTables/buttons.html5.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'js/dataTables/dataTables.bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'js/dataTables/buttons.dataTables.min.css' %}" type="text/css">



	<script type="text/javascript">

		$('#taxatable').DataTable({
			dom: 'Bfrtip',
			buttons: [
		        'csv',
	        ],
	        "order": [[ 2, "desc" ]],
	    });
		$('#subtable').DataTable({
			dom: 'Bfrtip',
			buttons: [
		        'csv',
	        ],
	        "order": [[ 2, "desc" ]],
	    });


	</script>





{% endblock %}

