{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<h3>Details for Mass2Motif: {{mass2motif_feature.mass2motif}}, Feature: {{mass2motif_feature.feature}}</h3>
<p>Total intensity in analysis: {{total_intensity| floatformat}}</p>
<p>Intensity explained by {{mass2motif_feature.mass2motif}}: {{topic_intensity|floatformat}} ({{intensity_perc|floatformat}}%)</p>
<p>Appears in {{n_docs}} documents</p>
<a href="/basicviz/view_parents/{{mass2motif_feature.mass2motif.id}}">Return</a>
{% endblock %}