{% extends 'base.html' %}

{% load static %}

{% block head_block %}

{% endblock %}

{% block body_block %}

<h4>Motif matches for {{experiment}}</h4>

<div>
    <p>
        Below are listed all matches that have been found using searches for this experiment.
        <strong>If the table is empty, that means the matching is still being processed.</strong>
        Periodically check the link below for this page until results are shown.
        <a href="/basicviz/manage_motif_matches/{{experiment.id}}" class = "btn btn-block btn-info" style="color:white;"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Manage Motif Matches</a>
    </p>
    <p>
        Use the buttons in the final column to add or remove the discovered links. When a link is added,
        any annotations in the <i>linked to</i> motif will be shown on the <i>linked</i> motif.
    </p>
    <p>
        Note that the system defers to manual annotations so if motif A has been manually annotated
        as 'great motif' and then linked to motif B which is annotated as 'even better one' then
        it is 'great motif' that will be shown. If the manual annotation is removed from motif A,
        it will now be annotated as 'even better one'.
    </p>
</div>

<table class='table' id='matchtable'>
    <thead>
        <tr>
            <th>Mass2Motif (Annotation)</th>
            <th>Best Match (Annotation)</th>
            <th>Best Match (Experiment)</th>
            <th>Match Score</th>
            <th>Current Link</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
            <tr>
                <td><a href="/basicviz/view_parents/{{match.frommotif.id}}/"><strong>{{match.frommotif}}</strong> ({{match.frommotif.annotation}})</a></td>
                <td><a href="/basicviz/view_parents/{{match.tomotif.id}}/"><strong>{{match.tomotif}}</strong> ({{match.tomotif.annotation}})</a></td>
                <td>{{match.tomotif.experiment}}</td>
                <td>{{match.score|floatformat:"3"}}</td>
                <td>{{match.frommotif.linkmotif}} ({{match.frommotif.linkmotif.experiment}},{{match.frommotif.linkmotif.annotation}})</td>
                <td>
                    <a href="/basicviz/add_link/{{match.frommotif.id}}/{{match.tomotif.id}}/">Add link</a>
                    <a href="/basicviz/remove_link/{{match.frommotif.id}}/">Remove link</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block js_block %}
	<script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>

	<script src="{% static 'js/dataTables/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'js/dataTables/buttons.html5.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'js/dataTables/dataTables.bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'js/dataTables/buttons.dataTables.min.css' %}" type="text/css">


	<script type="text/javascript">

		

		$(document).ready(function() {
			$('#matchtable').DataTable({
				dom: 'Bfrtip',
				buttons: [
			        'csv',
		        ],
		        "order": [[ 3, "desc" ]],
		    });

		});

  
	</script>

{% endblock %}