{% extends 'base.html' %}

{% load static %}

{% block title %}Alphas{% endblock %}

{% block body_block %}
<h3>Alpha values for {{mfe.name}}</h3>
<p>Logged in as {{user}}, <a href="/basicviz/logout">Logout</a></p>
<!-- p>This experiment consists of the following individual MS2LDAs:</p>
<ul>
{% for ms2lda in individuals %}
	<li>{{ms2lda.name}}</li>
{% endfor %}
</ul -->
<div style="border:1px solid black; border-style: dashed; padding: 10px; margin-bottom: 20px;">
    <h4>Alpha table</h4>
    <table id="thetable" class="table cell-border" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Motif</th>
                <th>Annotation</th>
                {% for ms2lda in individuals %}
                    <th>{{ ms2lda.name }}</th>
                {% endfor %}
                <th>Variance</th>
            </tr>
        </thead>
        <!-- <tbody>
        {% for row in alp_vals %}
            <tr>
                <td><a href="/basicviz/view_multi_m2m/{{mfe.id}}/{{row.0.name}}">{{row.0.name}}</a></td>
                <td>{{row.0.annotation}}</td>
                {% for val in row.1 %}
                    <td>{{val|stringformat:".4e" }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody> -->
    </table>
</div>

<div style="border:1px solid black; border-style: dashed; padding: 10px; margin-bottom: 20px;">
    <h4>Degree table</h4>
    <table id="degree" class="table">
        <thead>
            <tr>
                <th>Motif</th>
                <th>Annotation</th>
                {% for ms2lda in individuals %}
                    <th>{{ ms2lda.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in degrees %}
            <tr>
                <td><a href="/basicviz/view_multi_m2m/{{mfe.id}}/{{row.0.name}}">{{row.0.name}}</a></td>
                <td>{{row.0.annotation}}</td>
                {% for val in row.1 %}
                    <td>{{val}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div style="border:1px solid black; border-style: dashed; padding: 10px; margin-bottom: 20px;">
    <h3>PCA plot</h3>
    <div id='pca_div' width=1000 height=1000>
            <div id='message'>Please wait, loading...</div>
    </div>
</div>

{% endblock %}


{% block js_block %}
<!-- <script src='https://code.jquery.com/jquery-1.12.3.js'></script> -->
<script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>

<script src="{% static 'js/dataTables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/dataTables/buttons.html5.min.js' %}"></script>

<script type='text/javascript' src="{% static 'js/d3.v3.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/basicviz-pcaplot-ajax.js' %}"></script>

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css"> -->
<link rel="stylesheet" href="{% static 'js/dataTables/dataTables.bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'js/dataTables/buttons.dataTables.min.css' %}" type="text/css">




<script type="text/javascript">
$(document).ready(function() {
	$('#thetable').DataTable({
        "scrollX": true,
		dom: 'Bfrtip',
		buttons: [
        'csv',
        ],
        "processing": true,
        ajax: {
        	"url": '/basicviz/get_alpha_matrix/{{mfe.id}}/',
        	"dataSrc": function(json) {
        		for(var i=0,ien = json.length;i<ien;i++) {
        			json[i][0] = "<a href='/basicviz/view_multi_m2m/{{mfe.id}}/" + json[i][0] + "'>" + json[i][0] + "</a>";
        		}
        		return json;
        	},
        },
    });
	$('#degree').DataTable({
        "scrollX": true,
		dom: 'Bfrtip',
		buttons: [
        'csv',
        ],
        "processing":true,
        ajax: {
        	"url": '/basicviz/get_degree_matrix/{{mfe.id}}/',
        	"dataSrc": function(json) {
        		for(var i=0,ien = json.length;i<ien;i++) {
        			json[i][0] = "<a href='/basicviz/view_multi_m2m/{{mfe.id}}/" + json[i][0] + "'>" + json[i][0] + "</a>";
        		}
        		return json;
        	}
        }
    });
	$.ajax({
		type:'GET',
		url:"/basicviz/alpha_pca/{{mfe.id}}/",
		success: function(data) {
			pca_plot(data);
		},
		timeout: 300000,
	});	
});

</script>
{% endblock %}


