{% extends 'base.html' %}
{% load static %}

{% block head_block %}
	<!-- Stlye to get nice plot axis -->
	<style>
		.axis path,
		.axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}
		.axis text {
			font-family: sans-serif;
			font-size: 11px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="{% static "css/basicviz.css" %}">
{% endblock %}

{% block body_block %}

	{% if experiment %}
		<h3>Experiment {{ experiment.name }}</h3>
	{% endif %}
	<a href="/basicviz">return to visualisation menu</a>

	<div id='pca_div' width=1000 height=1000>
		<div id='message'>Please wait, loading...</div>
	</div>
	
{% endblock %}

{% block js_block %}
	<script type='text/javascript' src="{% static "js/d3.v3.min.js" %}"></script>
	<script type='text/javascript' src="{% static "js/d3.tip.v0.6.3.js" %}"> </script>
	<script type='text/javascript' src="{% static "js/basicviz-pcaplot.js" %}"></script>
    <script type='text/javascript'>
		pca_plot('{{url}}')
    </script>
{% endblock %}



