{% extends 'base.html' %}
{% load static %}
{% block body_block %}

    <div class="panel-group">
    	{% if experiment %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Experiment: {{experiment.name}}</h3>
                    <a href="/basicviz">Return to Experiment List</a>
                </div>
            </div>
        {% endif %}
        {% if documents %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Fragmentation Spectra Details</h4>
                    <p>
                        The following table lists the fragmentation spectra of molecules
                        in this dataset. Click the links in the <strong>Name</strong> column
                        for more information on that molecule, including associated Mass2Motifs
                        that explain the features of the spectra.
                    </p>
                    <table class="table" id="parenttable">
                    <thead>
                    <tr>
                        {% if documents.0.user_cols %}
                            {% for user_col_name, user_col_value in documents.0.user_cols %}
                                <th>{{ user_col_name }}</th>
                            {% endfor %}
                        {% endif %}
			<th>Name</th><th>Precursor Mass</th><th>Parent Mass</th><th>chemspider link (where available)</th><th>Search on chembl</th></th><th>Display Name</th></tr>
                    </thead>
                    <tbody>
                    {% for doc in documents %}
                        <tr>
                            {% if documents.0.user_cols %}
                                {% for user_col_name, user_col_value in doc.user_cols %}
                                    <td>{{ user_col_value }}</td>
                                {% endfor %}
                            {% endif %}
                            <td><a href="/basicviz/show_doc/{{doc.id}}">{{doc.name}}</a></td>
                            <td>{{doc.mass}}</td>
			                <td>{{doc.parentmass}}</td>
                            <td>{% if doc.csid %}
                                <a href="http://www.chemspider.com/Chemical-Structure.{{doc.csid}}.html" target=new>View on ChemSpider</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if doc.inchikey %}
                                    <a href="https://www.ebi.ac.uk/chembl/g/#search_results/all/query={{doc.inchikey}}">Search</a>
                                {% endif %}
                            </td>
                            <td>{{doc.display_name}}</td>
                            <td><a href="https://metabolomics-usi.ucsd.edu/spectrum/?usi=mzspec:MS2LDATASK-{{experiment.id}}:document:{{doc.id}}">mzspec:MS2LDATASK-{{experiment.id}}:document:{{doc.id}}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block js_block %}
	
	<script type='text/javascript' src="{% static "js/d3.v3.min.js" %}"></script>
	<script type='text/javascript' src="{% static "js/d3.tip.v0.6.3.js" %}"> </script>
	<script type='text/javascript' src="{% static "js/basicviz-spectra.js" %}"></script>



	<script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>

	<script src="{% static 'js/dataTables/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'js/dataTables/buttons.html5.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'js/dataTables/dataTables.bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'js/dataTables/buttons.dataTables.min.css' %}" type="text/css">



	<script type="text/javascript">

		$('#parenttable').DataTable({
			dom: 'Bfrtip',
			buttons: [
		        'csv',
	        ],
	        "order": [[ 1, "asc" ]],
	    });
	</script>





{% endblock %}

