{% extends 'base.html' %}
{% load static %}

{% block head_block %}
{% endblock %}

{% block body_block %}

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Experiment Summary</h3>
                <ul>
                    <li><b>Name:</b> {{ experiment.name }}</li>
                    <li><b>Details:</b> {{ experiment.description }}</li>
                    <li><b>Users:</b> {% for user_experiment in user_experiments %} {{ user_experiment.user.username }}
                        ({{ user_experiment.permission }}), {% endfor %}</li>
                    {% if is_public %}
                        <li>Experiment is <b>public</b>. {% if edit_user %}
                            <a href="/basicviz/toggle_public/{{ experiment.id }}">Make private</a>{% endif %}</li>
                    {% else %}
                        <li>Experiment is <b>private</b>. {% if edit_user %}
                            <a href="/basicviz/toggle_public/{{ experiment.id }}">Make public</a>{% endif %}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div>

        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Experiment options (if run on Ms2lda.org)</h4>
                <ul>
                    <li><b>MS2 file</b>: {{ experiment.ms2_file }}</li>
                    <li><b>Peaklist file</b>: {{ experiment.csv_file }}</li>
                    <li><b>isolation_window</b>: {{ experiment.isolation_window }}</li>
                    <li><b>mz_tol</b>: {{ experiment.mz_tol }}</li>
                    <li><b>rt_tol</b>: {{ experiment.rt_tol }}</li>
                    <li><b>min_ms1_rt (s)</b>: {{ experiment.min_ms1_rt }}</li>
                    <li><b>max_ms1_rt (s)</b>: {{ experiment.max_ms1_rt }}</li>
                    <li><b>min_ms2_intensity</b>: {{ experiment.min_ms2_intensity }}</li>
                    <li><b>filter duplicates</b>: {{ experiment.filter_duplicates }}</li>
                    <li><b>min_ms1_intensity</b>: {{ experiment.min_ms1_intensity }}</li>
                    <li><b>duplicate_filter_mz_tol</b>: {{ experiment.duplicate_filter_mz_tol }}</li>
                    <li><b>duplicate_filter_rt_tol</b>: {{ experiment.duplicate_filter_rt_tol }}</li>
                    <li><b>n_its (if LDA)</b>: {{ experiment.n_its }}</li>
                    <li><b>K (if LDA)</b>: {{ experiment.K }}</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Fragmentation Spectra Details</h4>
                <p>
                    The following table lists the fragmentation spectra of molecules
                    in this dataset. Click the links in the <strong>Name</strong> column
                    for more information on that molecule, including associated Mass2Motifs
                    that explain the features of the spectra.
                </p>
                <table class="table" style="display:none" id="parenttable">
                    <thead>
                    <tr>
                        {% if documents.0.user_cols %}
                            {% for user_col_name, user_col_value in documents.0.user_cols %}
                                <th>{{ user_col_name }}</th>
                            {% endfor %}
                        {% endif %}
                        <th>Name</th>
                        <th>Precursor Mass</th>
                        <th>link</th>
                        <th>Display Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for doc in documents %}
                        <tr>
                            {% if documents.0.user_cols %}
                                {% for user_col_name, user_col_value in doc.user_cols %}
                                    <td>{{ user_col_value }}</td>
                                {% endfor %}
                            {% endif %}
                            <td><a href="/basicviz/show_doc/{{ doc.id }}">{{ doc.name }}</a></td>
                            <td>{{ doc.mass }}</td>
                            <td>{% if doc.csid %}
                                <a href="http://www.chemspider.com/Chemical-Structure.{{ doc.csid }}.html" target=new>View
                                    on ChemSpider</a>
                            {% endif %}
                            </td>
                            <td>{{ doc.display_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Mass2Motif Details</h4>
                <p>
                    The following table lists the Mass2Motifs that have been inferred for this
                    dataset, including their degree (number of associated molecules) and annotations.
                    During the use of Mass2Motifs for structural grouping, annotation, and/or classification,
                    <a href="/disclaimer" target="_blank">please keep the following in mind</a>.
                </p>
                <table class='table' style="display:none" id='summarytable'>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Degree</th>
                        <th>Annotation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for motif_tuple in motif_tuples %}
                        <tr>
                            <td>
                                <a href="/basicviz/view_parents/{{ motif_tuple.0.id }}">{{ motif_tuple.0.name }}</a>
                            </td>
                            <td>{{ motif_tuple.1 }}</td>
                            <td>{{ motif_tuple.0.annotation }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Extracted Fragment and Loss Features</h4>
                <p>
                    The following table lists all features extracted from the dataset,
                    that can be explained by any inferred Mass2Motif with probability > 0.05.
                </p>
                <table class='table' style="display:none" id='featuretable'>
                    <thead>
                    <tr>
                        <th>Motif</th>
                        <th>Feature</th>
                        <th>Min m/z</th>
                        <th>Max m/z</th>
                        <th>Probability</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for motif_feature in motif_features %}
                        <tr>
                            <td>
                                <a href="/basicviz/view_parents/{{ motif_feature.mass2motif.id }}">{{ motif_feature.mass2motif.name }}</a>
                            </td>
                            <td>{{ motif_feature.feature.name }}</td>
                            <td>{{ motif_feature.feature.min_mz }}</td>
                            <td>{{ motif_feature.feature.max_mz }}</td>
                            <td>{{ motif_feature.probability|floatformat:"3"}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>All Fragmentation Spectra and Mass2Motifs matching details</h4>
                <p>
                    The following table lists all matchings of Fragmentation Spectra and Mass2Motifs extracted from the
                    dataset.
                </p>
                <table class='table' style="display:none" id='docmotiftable'>
                    <thead>
                    <tr>
                        {% if all_docs_motifs.0.document.user_cols %}
                            {% for user_col_name, user_col_value in all_docs_motifs.0.document.user_cols %}
                                <th>{{ user_col_name }}</th>
                            {% endfor %}
                        {% endif %}
                        <th>Document</th>
                        <th>Motif</th>
                        <th>Probability</th>
                        <th>Overlap Score</th>
                        <th>Precursor Mass</th>
                        <th>Retention Time</th>
                        <th>Document Annotation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dm2m in all_docs_motifs %}
                        <tr>
                            {% if all_docs_motifs.0.document.user_cols %}
                                {% for user_col_name, user_col_value in dm2m.document.user_cols %}
                                    <td>{{ user_col_value }}</td>
                                {% endfor %}
                            {% endif %}
                            <td>
                                <a href="/basicviz/show_doc/{{ dm2m.document.id }}">{{ dm2m.document.name }}</a>
                            </td>
                            <td>
                                <a href="/basicviz/view_parents/{{ dm2m.mass2motif.id }}">{{ dm2m.mass2motif.name }}</a>
                            </td>
                            <td>{{ dm2m.probability|floatformat:"3"}}</td>
                            <td>{{ dm2m.overlap_score|floatformat:"3"}}</td>
                            <td>{{ dm2m.document.mass|floatformat:"4"}}</td>
                            <td>{{ dm2m.document.rt }}</td>
                            <td>{{ dm2m.document.annotation }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}

{% block js_block %}

    <script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>

    <script src="{% static 'js/dataTables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/dataTables/buttons.html5.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'js/dataTables/dataTables.bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'js/dataTables/buttons.dataTables.min.css' %}" type="text/css">



    <script type="text/javascript">

        $('#summarytable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'csv',
            ],
            "order": [[1, "desc"]],
            "orderClasses": false,
            "deferRender": true
        });
        $('#featuretable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'csv',
            ],
            "order": [[1, "asc"]],
            "orderClasses": false,
            "deferRender": true
        });
        $('#parenttable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'csv',
            ],
            "order": [[1, "asc"]],
            "orderClasses": false,
            "deferRender": true
        });
        $('#docmotiftable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'csv',
            ],
            "order": [[0, "asc"]],
            "orderClasses": false,
            "deferRender": true
        });

        $('#summarytable').show();
        $('#featuretable').show();
        $('#parenttable').show();
        $('#docmotiftable').show();

    </script>

{% endblock %}

