{% extends 'base.html' %}

{% load static %}

{% block head_block %}
	<style>
		.axis path,
		.axis line {
		    fill: none;
		    stroke: black;
		    shape-rendering: crispEdges;
		}
		.axis text {
		    font-family: sans-serif;
		    font-size: 11px;
		}
		.axis-label {
		  font-family: sans-serif;
		  font-size: 14px;
		}

        /* for massbank dialog */
        .required:after {
            content:" *";
            color:#FF0000;
        }
        .massbank-form { padding:20px; }
        .massbank-form .field { padding: 4px; margin:1px; background: #eee; }
        .massbank-form .field label { display:inline-block; width:200px; margin-left:5px; }
        .massbank-form .field input { display:inline-block; }

	</style>
{% endblock %}

{% block body_block %}
	<h3>Mass2Motif: {{mass2motif.name}} ({{mass2motif.experiment.name}})</h3>
	<h4>{{mass2motif.annotation}}</h4>
	<a href="/basicviz/view_mass2motifs/{{mass2motif.experiment.id}}">return to mass2motif list for {{mass2motif.experiment.name}}</a>
 	<hr />
	<div>
	<p>{{ status }}</p>
	<form id="mass2motifmetadata_form" method="post" action="/basicviz/view_parents/{{mass2motif.id}}/">
		{% csrf_token %}
	{% for hidden in metadata_form.hidden_fields %}
	 	{{ hidden }}
	{% endfor %}

	{% for field in metadata_form.visible_fields %}
		{{ field.errors }}
		{{ field }}
	{% endfor %}
	<input type="submit" name="submit" value="Modify metadata" />
	</form>
	</div>
	<hr />

	<div id="spectra" border="20" padding="20"></div>

	<div>
	<h3>Mass2Motif Details</h3>
	<p>After thresholding to save the model, the total probability left in this motif is {{total_prob}}</p>
		<table class='table' id='featuretable'>
			<thead>
			<tr><th>Name</th><th>Probability</th><th>link</th></tr>
			</thead>
			<tbody>
			{% for motif_feature in motif_features %}
				<tr><td>{{motif_feature.feature.name}}</td><td>{{motif_feature.probability}}</td>
				<td><a href="/basicviz/mass2motif_feature/{{motif_feature.id}}">details</a></td></tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<hr />

	<div>
	<h3>Documents in Mass2Motif</h3>
		<table class='table' id='doctable'>
			<thead>
				<tr><th>Document name</th><th>Doc Annotation</th><th>Probability</th><th>Overlap Score</th></tr>
			</thead>
			<tbody>
				{% for dm2m in dm2ms %}
					<tr><td><a href="/basicviz/show_doc/{{dm2m.document.id}}">{{dm2m.document.name}}</a></td><td>{{dm2m.document.annotation}}</td><td>{{dm2m.probability}}</td><td>{{dm2m.overlap_score}}</td></tr>
				{% endfor %}
			</tbody>
		</table>
	<hr />


	<div id="graphs">
	</div>

    <div id="dialog-massbank" title="Generate Massbank Record">
        <form class="massbank-form">
            <div class="field required">
                <label for="accession">ACCESSION:</label>
                <input name="accession" type="text" size="50" maxlength=8
                       title="Identifier of the MassBank Record. Two or three letters site code, followed by record id."
                       placeholder="GP00001" value="{{accession}}" required />
            </div>
            <div class="field required">
                <label for="authors">AUTHORS:</label>
                <input type="text" name="authors" size="50"
                       title="Authors and Affiliations of MassBank Record"
                       placeholder="Akimoto N, Grad Sch Pharm Sci, Kyoto Univ and Maoka T, Res Inst Prod Dev."
                       value="{{authors}}" required />
            </div>
            <div class="field required">
                <label for="ch_name">CH$NAME:</label>
                <input type="text" name="ch_name" size="50"
                       title="Name of the Chemical Compound Analyzed"
                       placeholder="D-Tartaric acid" value="{{mass2motif.annotation}}" required />
            </div>
            <div class="field required">
                <label for="ch_compound_class">CH$COMPOUND_CLASS:</label>
                <input type="text" name="ch_compound_class" size="50"
                       title="Category of Chemical Compound"
                       placeholder="Natural Product; Carotenoid; Terpenoid; Lipid" required />
            </div>
            <div class="field required">
                <label for="ch_formula">CH$FORMULA:</label>
                <input type="text" name="ch_formula" size="50"
                       title="Molecular Formula of Chemical Compound"
                       placeholder="C9H10ClNO3" required />
            </div>
            <div class="field required">
                <label for="ch_exact_mass">CH$EXACT_MASS:</label>
                <input type="text" name="ch_exact_mass" size="50" maxlength="10"
                       title="Monoisotopic Mass of Chemical Compound."
                       placeholder="430.38108" required />
            </div>
            <div class="field required">
                <label for="ch_smiles">CH$SMILES:</label>
                <input type="text" name="ch_smiles" size="50"
                       title="SMILES String"
                       placeholder="NCC(O)=O" required />
            </div>
            <div class="field required">
                <label for="ch_iupac">CH$IUPAC:</label>
                <input type="text" name="ch_iupac" size="50"
                       title="IUPAC International Chemical Identifier (InChI Code)"
                       placeholder="InChI=1S/C2H5NO2/c3-1-2(4)5/h1,3H2,(H,4,5)" required />
            </div>
            <div class="field required">
                <label for="ac_instrument">AC$INSTRUMENT:</label>
                <input type="text" name="ac_instrument" size="50"
                       title="Commercial Name and Model of (Chromatographic Separation Instrument, if any were coupled, and) Mass Spectrometer and Manufacturer."
                       placeholder="LC-10ADVPmicro HPLC, Shimadzu; LTQ Orbitrap, Thermo Electron." required />
            </div>
            <div class="field required">
                <label for="ac_instrument_type">AC$INSTRUMENT_TYPE:</label>
                <input type="text" name="ac_instrument_type" size="50"
                       title="General Type of Instrument."
                       placeholder="LC-ESI-QTOF" value="LC-ESI-QTOF" required />
            </div>
            <div class="field required">
                <label for="ac_mass_spectrometry_ms_type">AC$MASS_SPECTROMETRY: MS_TYPE:</label>
                <input type="text" name="ac_mass_spectrometry_ms_type" size="50"
                       title="MS1, MS2, MS3, etc."
                       placeholder="MS2" value="{{ms_type}}" required />
            </div>
            <div class="field required">
                <label for="ac_mass_spectrometry_ion_mode">AC$MASS_SPECTROMETRY: ION_MODE:</label>
                <input type="text" name="ac_mass_spectrometry_ion_mode" size="50"
                       title="POSITIVE or NEGATIVE."
                       placeholder="POSITIVE" value="{{ion_mode}}" required />
            </div>
            <input type="hidden" name="peak_text" value="{{peak_text}}" />
            <input type="hidden" name="hash" value="{{peak_text}}" />
        </form>
    </div>

{% endblock %}

{% block js_block %}
	<script type='text/javascript' src="{% static "js/d3.v3.min.js" %}"></script>
	<script type='text/javascript' src="{% static "js/d3.tip.v0.6.3.js" %}"> </script>
	<script type='text/javascript' src="{% static "js/basicviz-spectra.js" %}"></script>
	<script type='text/javascript' src="{% static "js/word-graph.js" %}"></script>

	<script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>

	<script src="{% static 'js/dataTables/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'js/dataTables/buttons.html5.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'js/dataTables/dataTables.bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'js/dataTables/buttons.dataTables.min.css' %}" type="text/css">


	<script type="text/javascript">
		var current_pos = 0
		var motif_name = '{{mass2motif.name}}'
		var motif_id = '{{mass2motif.id}}'
		load_parents(motif_id, motif_name,-1);
		var url = '/basicviz/get_word_graph/{{mass2motif.id}}/nan/'
		plot_word_graph(url,motif_id,motif_name)
		url = '/basicviz/get_intensity/{{mass2motif.id}}/nan/'
		plot_word_graph(url,motif_id,motif_name)


		$(document).ready(function() {
			$('#featuretable').DataTable({
				dom: 'Bfrtip',
				buttons: [
			        'csv',
                    {
                        text: 'MassBank Record',
                        action: function ( e, dt, node, config ) {
                            $( "#dialog-massbank" ).dialog({
                                resizable: false,
                                height: "auto",
                                width: 800,
                                modal: true,
                                buttons: {
                                    'Copy to clipboard': function () {
                                        generateData();
                                        // $(this).dialog('close');
                                    },
                                        'Close': function () {
                                        $(this).dialog('close');
                                    }
                                }
                                });

                        }
                    }
		        ],
		        "order": [[ 1, "desc" ]],
		    });
			$('#doctable').DataTable({
				dom: 'Bfrtip',
				buttons: [
			        'csv',
		        ],
		        "order": [[ 2, "desc" ]],
		    });

		});

    function generateData() {
        var name = $('input[name="accession"]').val();
        alert(name);
    }

	</script>


{% endblock %}