{% extends 'base.html' %}

{% load static %}

{% block head_block %}
	<style>
		.axis path,
		.axis line {
		    fill: none;
		    stroke: black;
		    shape-rendering: crispEdges;
		}
		.axis text {
		    font-family: sans-serif;
		    font-size: 11px;
		}
		.axis-label {
		  font-family: sans-serif;
		  font-size: 14px;
		}

        /* for massbank dialog */
        .required:after {
            content:" *";
            color:#FF0000;
        }
        .massbank-form { padding:20px; }
        .massbank-form .field { padding: 4px; margin:1px; background: #eee; }
        .massbank-form .field label { display:inline-block; width:200px; margin-left:5px; }
        .massbank-form .field input { display:inline-block; }

	</style>
{% endblock %}

{% block body_block %}
	<h3>Mass2Motif: {{mass2motif.name}} ({{mass2motif.experiment.name}})</h3>
	<h4>{{mass2motif.annotation}}</h4>
	<a href="/basicviz/view_mass2motifs/{{mass2motif.experiment.id}}">return to mass2motif list for {{mass2motif.experiment.name}}</a>
 	<hr />
	<div>
	<p>{{ status }}</p>
	<form id="mass2motifmetadata_form" method="post" action="/basicviz/view_parents/{{mass2motif.id}}/">
		{% csrf_token %}
	{% for hidden in metadata_form.hidden_fields %}
	 	{{ hidden }}
	{% endfor %}

	{% for field in metadata_form.visible_fields %}
		{{ field.errors }}
		{{ field }}
	{% endfor %}
	<input type="submit" name="submit" value="Modify metadata" />
	</form>
	</div>
	<hr />

	<div id="spectra" border="20" padding="20"></div>

	<div>
	<h3>Mass2Motif Details</h3>
	<p>After thresholding to save the model, the total probability left in this motif is {{total_prob}}</p>
		<table class='table' id='featuretable'>
			<thead>
			<tr><th>Name</th><th>Probability</th><th>link</th></tr>
			</thead>
			<tbody>
			{% for motif_feature in motif_features %}
				<tr><td>{{motif_feature.feature.name}}</td><td>{{motif_feature.probability}}</td>
				<td><a href="/basicviz/mass2motif_feature/{{motif_feature.id}}">details</a></td></tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<hr />

	<div>
	<h3>Documents in Mass2Motif</h3>
		<table class='table' id='doctable'>
			<thead>
				<tr><th>Document name</th><th>Doc Annotation</th><th>Probability</th><th>Overlap Score</th></tr>
			</thead>
			<tbody>
				{% for dm2m in dm2ms %}
					<tr><td><a href="/basicviz/show_doc/{{dm2m.document.id}}">{{dm2m.document.name}}</a></td><td>{{dm2m.document.annotation}}</td><td>{{dm2m.probability}}</td><td>{{dm2m.overlap_score}}</td></tr>
				{% endfor %}
			</tbody>
		</table>
	<hr />


	<div id="graphs">
	</div>

    <div id="dialog-massbank" title="Generate Massbank Record">
        <form class="massbank-form" id="mass2motifmassbank_form" method="post" action="/basicviz/generate_massbank/">
            {% for hidden in massbank_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in massbank_form.visible_fields %}
                {% if field.field.required %}
                    <div class="field required">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% else %}
                    <div class="field">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endif %}

            {% endfor %}
        </form>
        <div style="margin: 20px">
            <div id="status">Result goes here: </div><textarea name="massbank_str" id="massbank_str" rows="5" cols="100"></textarea>
            <button onclick="copyToClipboard('#massbank_str')">Copy</button>
        </div>
    </div>

{% endblock %}

{% block js_block %}
	<script type='text/javascript' src="{% static "js/d3.v3.min.js" %}"></script>
	<script type='text/javascript' src="{% static "js/d3.tip.v0.6.3.js" %}"> </script>
	<script type='text/javascript' src="{% static "js/basicviz-spectra.js" %}"></script>
	<script type='text/javascript' src="{% static "js/word-graph.js" %}"></script>

	<script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>

	<script src="{% static 'js/dataTables/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'js/dataTables/buttons.html5.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'js/dataTables/dataTables.bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'js/dataTables/buttons.dataTables.min.css' %}" type="text/css">


	<script type="text/javascript">

		var current_pos = 0;
		var motif_name = '{{mass2motif.name}}';
		var motif_id = '{{mass2motif.id}}';
		load_parents(motif_id, motif_name,-1);
		var url = '/basicviz/get_word_graph/{{mass2motif.id}}/nan/';
		plot_word_graph(url,motif_id,motif_name);
		url = '/basicviz/get_intensity/{{mass2motif.id}}/nan/';
		plot_word_graph(url,motif_id,motif_name);

		$(document).ready(function() {
			$('#featuretable').DataTable({
				dom: 'Bfrtip',
				buttons: [
			        'csv',
                    {
                        text: 'MassBank Record',
                        action: function ( e, dt, node, config ) {
                            $( "#dialog-massbank" ).dialog({
                                resizable: false,
                                height: "auto",
                                width: 800,
                                buttons: {
                                    'Generate': function () {
                                        $('#mass2motifmassbank_form').submit()
                                        // $(this).dialog('close');
                                    },
                                        'Close': function () {
                                        $(this).dialog('close');
                                    }
                                }
                                }).css({height:"600px", overflow:"auto"})

                        }
                    }
		        ],
		        "order": [[ 1, "desc" ]],
		    });
			$('#doctable').DataTable({
				dom: 'Bfrtip',
				buttons: [
			        'csv',
		        ],
		        "order": [[ 2, "desc" ]],
		    });

		});

    $('#mass2motifmassbank_form').on('submit', function(event){

        $form = $(this);
        var action = $form.attr('action');
        event.preventDefault();

        $('#status').text('Processing ...');
        $.ajax({
            url : action,
            type : "POST",
            data : {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'motif_id' : $('#motif_id').val(),
                'accession' : $('#accession').val(),
                'authors' : $('#authors').val(),
                'comments' : $('#comments').val(),
                'ch_name' : $('#ch_name').val(),
                'ch_compound_class' : $('#ch_compound_class').val(),
                'ch_formula' : $('#ch_formula').val(),
                'ch_exact_mass' : $('#ch_exact_mass').val(),
                'ch_smiles' : $('#ch_smiles').val(),
                'ch_iupac' : $('#ch_iupac').val(),
                'ch_link' : $('#ch_link').val(),
                'ac_instrument' : $('#ac_instrument').val(),
                'ac_instrument_type' : $('#ac_instrument_type').val(),
                'ac_mass_spectrometry_ion_mode' : $('#ac_mass_spectrometry_ion_mode').val(),
                'min_rel_int' : $('#min_rel_int').val(),

            },

            success : function(json) {

                var massbank_str = json['massbank_str'];
                var status = json['status'];
                $('#status').text(status);
                $('#massbank_str').text(massbank_str);
                console.log(status);
                console.log(massbank_str);

            },

            error : function(xhr,errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });

    });

    // hidden by default when the page loads
    $('#dialog-massbank').hide()
    // $('#massbank_str').hide()

    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }

	</script>


{% endblock %}