{% extends 'base.html' %}

{% load static %}

{% block head_block %}
	<style>
	.axis path,
	.axis line {
	    fill: none;
	    stroke: black;
	    shape-rendering: crispEdges;
	}
	.axis text {
	    font-family: sans-serif;
	    font-size: 11px;
	}
	.axis-label {
	  font-family: sans-serif;
	  font-size: 14px;
	}
	</style>
{% endblock %}

{% block body_block %}
	<div id="graphs"></div>
{% endblock %}

{% block js_block %}
	<script type='text/javascript' src="{% static "js/d3.v3.min.js" %}"></script>
	<script type='text/javascript' src="{% static "js/d3.tip.v0.6.3.js" %}"> </script>
	<script type='text/javascript' src="{% static "js/word-graph.js" %}"></script>
	<script>
		// var current_pos = 0
		var motif_name = '{{mass2motif.name}}'
		var motif_id = '{{mass2motif.id}}'
		var url = '/basicviz/get_word_graph/' + motif_id + '/';
		plot_word_graph(url,motif_id, motif_name);
	</script>
{% endblock %}
