{% extends 'base.html' %}

{% load static %}



{% block title %}Multifile Motif View{% endblock %}

{% block head_block %}
	<style>
		.axis path,
		.axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}
		.axis text {
			font-family: sans-serif;
			font-size: 11px;
		}

        /* for massbank dialog */
        .required:after {
            content:" *";
            color:#FF0000;
        }
        .massbank-form { padding:20px; }
        .massbank-form .field { padding: 4px; margin:1px; background: #eee; }
        .massbank-form .field label { display:inline-block; width:200px; margin-left:5px; }
        .massbank-form .field input { display:inline-block; }

	</style>
	<link rel="stylesheet" type="text/css" href="{% static "css/basicviz.css" %}">

{% endblock %}

{% block body_block %}
<h3>Motif {{motif_name}} in {{mfe.name}}</h3>

<form id="mass2motifmetadata_form" method="post" action="/basicviz/view_multi_m2m/{{mfe.id}}/{{motif_name}}/">
	{% csrf_token %}
	{% for hidden in metadata_form.hidden_fields %}
	 	{{ hidden }}
	{% endfor %}

	{% for field in metadata_form.visible_fields %}
		{{ field.errors }}
		{{ field }}
	{% endfor %}
	<input type="submit" name="submit" value="Modify metadata" />
</form>


<h4>Variance: {{alpha_variance}}</h4>
<p>Return to <a href="/basicviz/multi_alphas/{{mfe.id}}/">alpha page</a></p>
<h4>Features:</h4>

<table class="table" id="featuretable">
	<thead>
		<th>Feature</th>
		<th>Probability</th>
	</thead>
	<tbody>
	{% for feature in m2m_features %}
		<tr>
			<td>{{feature.feature.name}}</td>
			<td>{{feature.probability}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<hr />
<h4>Individual Mass2Motifs</h4>

<table class="table" id = "m2mtable">
	<thead>
		<th>Individual MS2LDA</th><th>Motif</th><th>Annotation</th><th>Alpha</th><th>Degree</th>
	</thead>
	<bdody>
		{% for row in individual_m2m %}
		<tr>
			<td>{{row.0.name}}</td>
			<td><a href="/basicviz/view_parents/{{row.1.id}}/">{{row.1.name}}</a></td>
			<td>{{row.1.annotation}}</td>
			<td>{{row.2.value}}</td>
			<td>{{row.3}}</td>
		</tr>
		{% endfor %}
	</bdody>
</table>

<div class="row">
	<div class="col-md-6">
		<div id="barplot">
			<h3>Alphas</h3>
		</div>
		<div id="degreeplot">
			<h3>Degrees</h3>
		</div>
			<div id="heatmap">
		</div>
	</div>
	<div class="col-md-6">
		<div id="scatter">
			<h3>Parent ions</h3>
		</div>	
	</div>
</div>

<div id="dialog-massbank" title="Generate Massbank Record">
    <form class="massbank-form" id="mass2motifmassbank_form" method="post" action="/basicviz/generate_massbank_multi_m2m/">
        {% for hidden in massbank_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in massbank_form.visible_fields %}
            {% if field.field.required %}
                <div class="field required">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% else %}
                <div class="field">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endif %}

        {% endfor %}
    </form>
    <div style="margin: 20px" id="massbank_output">
        <div id="status">Result goes here: </div><textarea name="massbank_str" id="massbank_str" rows="10" cols="100"></textarea>
        <button id="copy_button" onclick="copyToClipboard('#massbank_str')">Copy</button>
    </div>
</div>


{% endblock %}



{% block js_block %}

<script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>

<script src="{% static 'js/dataTables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/dataTables/buttons.html5.min.js' %}"></script>

<script type='text/javascript' src="{% static 'js/d3.v3.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/basicviz-barplot.js' %}"></script>


<link rel="stylesheet" href="{% static 'js/dataTables/dataTables.bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'js/dataTables/buttons.dataTables.min.css' %}" type="text/css">


<script type="text/javascript">
$(document).ready(function() {
	$('#featuretable').DataTable({
		dom: 'Bfrtip',
        buttons: [
            'csv',
            {
                text: 'MassBank Record',
                action: function ( e, dt, node, config ) {
                    $( "#dialog-massbank" ).dialog({
                        resizable: false,
                        height: "auto",
                        width: 800,
                        buttons: {
                            'Generate': function () {
                                $('#mass2motifmassbank_form').submit()
                                // $(this).dialog('close');
                            },
                                'Close': function () {
                                $(this).dialog('close');
                            }
                        }
                        }).css({height:"600px", overflow:"auto"})

                }
            }
        ],
        "order": [[ 1, "desc" ]],
    });
    $('#m2mtable').DataTable({
    	dom: 'Bfrtrip',
    	buttons: [
    		'csv',
    	],
    	"order": [[2,"desc"]],
    });

    $('#mass2motifmassbank_form').on('submit', function(event){

        $form = $(this);
        var action = $form.attr('action');
        event.preventDefault();

        $('#status').text('Processing ... please wait.');
        $.ajax({
            url : action,
            type : "POST",
            data : {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'mf_id' : $('#mf_id').val(),
                'motif_id' : $('#motif_id').val(),
                'accession' : $('#accession').val(),
                'authors' : $('#authors').val(),
                'comments' : $('#comments').val(),
                'ch_name' : $('#ch_name').val(),
                'ch_compound_class' : $('#ch_compound_class').val(),
                'ch_formula' : $('#ch_formula').val(),
                'ch_exact_mass' : $('#ch_exact_mass').val(),
                'ch_smiles' : $('#ch_smiles').val(),
                'ch_iupac' : $('#ch_iupac').val(),
                'ch_link' : $('#ch_link').val(),
                'ac_instrument' : $('#ac_instrument').val(),
                'ac_instrument_type' : $('#ac_instrument_type').val(),
                'ac_mass_spectrometry_ion_mode' : $('#ac_mass_spectrometry_ion_mode').val(),
                'min_rel_int' : $('#min_rel_int').val(),

            },

            success : function(json) {

                var massbank_str = json['massbank_str'];
                var status = json['status'];
                $('#status').text(status);
                $('#massbank_str').text(massbank_str);
                console.log(status);
                console.log(massbank_str);
                $("#copy_button").show();

            },

            error : function(xhr,errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });

    });

});

// hidden by default when the page loads
$('#dialog-massbank').hide()
// $('#massbank_str').hide()
$("#copy_button").hide();

function copyToClipboard(element) {
    var $temp = $("<textarea>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
}


bar_plot('/basicviz/get_alphas/{{mfe.id}}/{{motif_name}}/','barplot')
bar_plot('/basicviz/get_degrees/{{mfe.id}}/{{motif_name}}/','degreeplot')

d3.json('/basicviz/get_doc_table/{{mfe.id}}/{{motif_name}}/',function(error,dataset) {
	        if (error) throw error;
	        draw_scatter(dataset);
	    });

function draw_scatter(dataset) {
	// scatter_data = {{doc_table|safe}}
	scatter_data = dataset[1]
	// individual_names = {{individual_names|safe}}
	individual_names = dataset[0]
	var plot_height = 500
	var plot_width = 500


	scatter_svg = d3.select('#scatter').append('svg')
		.attr('width',plot_width)
		.attr('height',plot_height);

	min_mz = d3.min(scatter_data,function(d) {return d[1];}) - 20
	max_mz = d3.max(scatter_data,function(d) {return d[1];}) + 20
	min_rt = d3.min(scatter_data,function(d) {return d[0];}) - 20
	max_rt = d3.max(scatter_data,function(d) {return d[0];}) + 20
	max_ind = d3.max(scatter_data,function(d) {return d[2];})

	var ver_margin = 50
	var hor_margin = 50
	var xScale = d3.scale.linear()
	xScale.domain([min_rt, max_rt])
	xScale.range([ hor_margin,plot_width-hor_margin])
	var yScale = d3.scale.linear()
	yScale.domain([min_mz,max_mz])
	yScale.range([plot_height-ver_margin,ver_margin])


	var xAxis = d3.svg.axis()
	    .scale(xScale)
	    .orient("bottom");

	scatter_svg.append("g")
	    .attr("class", "axis")
	    .attr("transform", "translate(0," + yScale(min_mz) + ")")
	    .attr('stroke-width',1)
	    .attr('id','xax')
	    .call(xAxis);


	var yAxis = d3.svg.axis()
	    .scale(yScale)
	    .orient("left");

	scatter_svg.append("g")
		.attr('id','yax')
	    .attr("class","axis")
	    .attr('stroke-width',1)
	    .attr("transform","translate(" + xScale(min_rt) + ",0)")
	    .call(yAxis);


	scatter_svg.append('text').attr('x',xScale(0.5*(max_rt + min_rt)))
							  .attr('y',yScale(min_mz) + 50)
							  .text('rt');


	scatter_svg.append('text').attr('x',xScale(min_rt) - 50)
							  .attr('y',yScale(0.5*(min_mz+max_mz)))
							  .text('mz');

	var circles = scatter_svg.selectAll("circle")
					.data(scatter_data)
					.enter()
					.append("circle")

	individual_name = scatter_svg.append('text')
										.attr('x',xScale(min_rt)+50)
										.attr('y',yScale(max_mz)-20)

	colorscale = d3.scale.linear().domain([0,max_ind]).range(["red","blue"])
	circles.attr('cx',function(d) {return xScale(d[0]);})
		    .attr('cy',function(d) {return yScale(d[1]);})
			.attr('r',function(d) {return Math.ceil(5*d[3]);})
			.attr('fill','#666666')
			.attr('class',function(d) {return "ind_" + d[2] + " ps_" + d[4];})
			.on('mouseover',function(d) {
				scatter_highlight('.ind_' + d[2],individual_names[d[2]]);
					// scatter_svg.selectAll('.ind_'+d[2])
					// 	.transition()
					// 	.duration(250)
					// 	.attr('r',function(d) {return Math.ceil(40*d[3]);})
					// 	.attr('fill',function(d) {return colorscale(d[2]);});
					// individual_name.text(individual_names[d[2]]);
				})
			.on('mouseout',function(d) {
				scatter_unhighlight('.ind_'+d[2])
			});

	heatmap_data = dataset[2]
	peakset_masses = dataset[3]
	peakset_rt = dataset[4]
	plot_heatmap(heatmap_data,peakset_masses,peakset_rt,individual_names)
}
function scatter_highlight(cl,na) {
	scatter_svg.selectAll(cl)
					.transition()
					.duration(250)
					.attr('r',function(d) {return Math.ceil(40*d[3]);})
					.attr('fill',function(d) {return colorscale(d[2]);});
				individual_name.text(na);
}	
function scatter_unhighlight(cl) {
	scatter_svg.selectAll(cl)
				.transition()
				.duration(250)
				.attr('fill','#666666')
				.attr('r',function(d) {return Math.ceil(5*d[3]);})
			individual_name.text("");
}

// var a= scatter_svg.selectAll('.ind_1').attr('r',20);
// console.log(a.length)
// console.log(a)
function plot_heatmap(heatmap_data,peakset_masses,peakset_rt,individual_names) {
	var overall_width = 800
	var heatmap_height = 800
	var heatmap_width = 600

	var heatmap_hor_margin = 70
	var heatmap_ver_margin = 30
	var heatmap_svg = d3.select('#heatmap').append('svg')
		.attr('width',overall_width)
		.attr('height',heatmap_height);

	// heatmap_data = {{intensity_table|safe}}
	// peakset_masses = {{peakset_masses|safe}}
	// peakset_rt = {{peakset_rt| safe}}
	// individual_names = {{individual_names|safe}}
	console.log(heatmap_data.length)

	var n_rows = heatmap_data.length
	var n_cols = individual_names.length

	var heatmap_xScale = d3.scale.linear()
	heatmap_xScale.domain([0,n_cols])
	heatmap_xScale.range([ heatmap_hor_margin,heatmap_width-heatmap_hor_margin])
	var heatmap_yScale = d3.scale.linear()
	heatmap_yScale.domain([0,n_rows])
	heatmap_yScale.range([heatmap_ver_margin,heatmap_height - heatmap_ver_margin])

	var box_width = (heatmap_width - 2*heatmap_hor_margin)/n_cols
	var box_height = Math.min((heatmap_height - 2*heatmap_ver_margin)/n_rows,20)


	max_val = 0.0
	min_val = 1e10


	for (var i = 0; i < heatmap_data.length; i++) {
		for (var j=0 ; j<heatmap_data[i].length; j++) {
			if(heatmap_data[i][j] != 0) {
				if(heatmap_data[i][j] < min_val) {
					min_val = heatmap_data[i][j];
				}
				if(heatmap_data[i][j] > max_val) {
					max_val = heatmap_data[i][j];
				}
			}
		}
	}

	var heatmap_colorscape = d3.scale.linear()
								.domain([min_val,max_val]).range(["blue","yellow"]);


	for (var i = 0; i < heatmap_data.length; i++) {
		for (var j=0 ; j<heatmap_data[i].length; j++) {
			if(heatmap_data[i][j] != 0) {
				heatmap_svg.append("rect")
					.attr('x',heatmap_xScale(j))
					.attr('y',i*box_height)
					.attr('width',box_width)
					.attr('height',box_height)
					// .attr('stroke','#000000')
					.attr('row',i)
					.attr('fill',heatmap_colorscape(heatmap_data[i][j]))
					.attr('class','row_'+i)
					// .on('mouseover',function() {
					// 	var row = d3.select(this).attr('row');
					// 	scatter_highlight('.ps_' + row,""+peakset_masses[row]);
					// })
					// .on('mouseout',function() {
					// 	var row = d3.select(this).attr('row');
					// 	scatter_unhighlight('.ps_' + row);

					// })
					.on('click',function() {
						if(d3.select(this).attr('clicked') == 'yes') {
							var row = d3.select(this).attr('row');
							scatter_unhighlight('.ps_' + row);
							d3.select(this).attr('clicked','no');
							d3.selectAll('.row_'+row).attr('stroke','none')
													.attr('stroke-width',1);
							d3.selectAll('.row_text_' + row).attr('font-weight','normal').attr('display','none');
						} else {
							var row = d3.select(this).attr('row');
							scatter_highlight('.ps_' + row,""+peakset_masses[row]);					
							d3.select(this).attr('clicked','yes');
							d3.selectAll('.row_' + row).attr('stroke','red')
														.attr('stroke-width',3);
							d3.selectAll('.row_text_' + row).attr('font-weight','bold').attr('display','inline');
						}
					});
			}
		}
		heatmap_svg.append('text')
							.attr('x',heatmap_width-heatmap_hor_margin)
							.attr('y',(i+1)*box_height - 0.2*box_height)
							.text("" + peakset_masses[i].toFixed(4) + ', ' + peakset_rt[i].toFixed(4))
							.attr('class','row_text_'+i)
							.attr('display','none');
	}

}
</script>
{% endblock %}


