{% extends 'base.html' %}
{% load static %}

{% block body_block %}

    <div class="panel-group">
    	{% if experiment %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Experiment: {{experiment.name}}</h3>
                    <a href="/basicviz">Return to Experiment List</a>
                </div>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Mass2Motif Details</h4>
                <p>
                    The following table lists the Mass2Motifs that have been inferred for this
                    dataset, including their degree (number of associated molecules) and annotations.
                </p>
                <table class='table' id='m2mtable'>
                    <thead>
                        <tr><th>Name</th><th>Degree</th><th>Annotation</th></tr>
                    </thead>
                    <tbody>
                        {% for motif_tuple in motif_tuples %}
                            <tr>
                                <td>
                                    <a href="/basicviz/view_parents/{{motif_tuple.0.id}}">{{ motif_tuple.0.name }}</a>
                                </td>
                                <td>{{motif_tuple.1}}</td>
                                <td>{{motif_tuple.0.annotation}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_block %}

<script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>

<script src="{% static 'js/dataTables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/dataTables/buttons.html5.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'js/dataTables/dataTables.bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'js/dataTables/buttons.dataTables.min.css' %}" type="text/css">

<script type="text/javascript">
$(document).ready(function() {
	$('#m2mtable').DataTable({
		dom: 'Bfrtip',
		buttons: [
        'csv',
        ],
        "order": [[ 1, "desc" ]],
    });   
});
</script>


{% endblock %}