{% extends 'base.html' %}

{% load static %}

{% block head_block %}
{% endblock %}

{% block body_block %}

	<h3>Add a new MS1 differential expression analysis</h3>
    <p>
        Your are viewing experiment {{  experiment_id }}.
    </p>
    <p>
        You can choose sample names for group1 and group2 for differential expression analysis.
    </p>

    <form id="analysis_form" method="post" action="/ms1analysis/create_ms1analysis/{{ experiment_id }}/" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in analysis_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in analysis_form.visible_fields %}
            <p>{{ field.errors }}</p>
            <p>  {{field.label}} {% if field.field.required %} * {% endif %} {{ field }}</p>
        {% endfor %}
        <input type="submit" name="submit" value="Submit Your Analysis" class="btn btn-primary" />
    </form>

{#    <form id="experiment_form" method="post" action="/uploads/create_experiment/" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        {% for hidden in experiment_form.hidden_fields %}#}
{#            {{ hidden }}#}
{#        {% endfor %}#}
{##}
{#        {% for field in experiment_form.visible_fields %}#}
{#            <p>{{ field.errors }}</p>#}
{#            <p>  {{field.label}} {% if field.field.required %} * {% endif %} {{ field }}</p>#}
{#        {% endfor %}#}
{#        <input type="submit" name="submit" value="Submit Your Experiment" class="btn btn-primary" />#}
{#    </form>#}

{% endblock %}