{% extends 'base.html' %}
{% load static %}

{% block head_block %}
{% endblock %}

{% block body_block %}

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>MS1 Analysis Details</h4>
                <p>
                    The following table lists all ms1 analyses for experiment {{ experiment_id }}. Click the links in the <strong>Name</strong> column
                    for more information on that analysis, including statistical results for associated Mass2Motifs and documents.
                </p>
                <table class="table" id="analysistable">
                <thead>
                <tr><th>Name</th><th>Description</th></tr>
                </thead>
                <tbody>
                {% for analysis in ms1_analyses %}
                    <tr><td><a href="/ms1analysis/show_ms1analysis/analysis/{{analysis.id}}">{{analysis.name}}</a></td>
                        <td>{{analysis.description}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_block %}

	<script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>

	<script src="{% static 'js/dataTables/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'js/dataTables/buttons.html5.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'js/dataTables/dataTables.bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'js/dataTables/buttons.dataTables.min.css' %}" type="text/css">



	<script type="text/javascript">


		$('#analysistable').DataTable({
			dom: 'Bfrtip',
			buttons: [
		        'csv',
	        ],
	        "order": [[ 1, "asc" ]],
	    });

	</script>

{% endblock %}

