{% extends 'base.html' %}

{% load static %}

{% block body_block %}
    <div class="panel-group">

        <!-- ======================================================
             Intro panel
        ======================================================= -->
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Unsupervised Substructure Discovery in Metabolomics</h4>

                <!-- New paragraph about v2 dashboard -->
                <p class="bg-success" style="padding:10px; border-radius:4px;">
                    <strong>New&nbsp;June&nbsp;2025&nbsp;&mdash;</strong>
                    We have released a modern&nbsp;<a href="/viz/" target="_blank">Dash&nbsp;interface</a>&nbsp;for MS2LDA
                    (<em>MS2LDA&nbsp;2.0</em>).
                    The codebase is actively developed at&nbsp;
                    <a href="https://github.com/vdhooftcompmet/MS2LDA" target="_blank">
                        vdHooftCompMet/MS2LDA</a>, with an accompanying pre-print coming soon.
                    We encourage users to migrate to the new dashboard; the legacy MS2LDAviz interface will remain
                    available during this transition period.
                </p>

                <p>
                    <a href="https://en.wikipedia.org/wiki/Metabolomics">Metabolomics</a> is the large-scale, untargeted
                    study of small molecules (<em>metabolites</em>) involved in life-sustaining chemical processes.
                    Untargeted metabolomics has illuminated medical diagnostics, drug discovery, personalised medicine
                    and many other fields.
                    Measurements are routinely performed using
                    <a href="https://en.wikipedia.org/wiki/Liquid_chromatography_mass_spectrometry"
                       target="_blank">LC-MS</a> instruments.
                    With <a href="https://en.wikipedia.org/wiki/Tandem_mass_spectrometry" target="_blank">tandem MS</a>,
                    fragmentation peaks characteristic of a compound can be used to help establish its identity.
                </p>

                <p>
                    <a href="https://en.wikipedia.org/wiki/Fragmentation_(mass_spectrometry)" target="_blank">
                        Fragmentation spectra</a> provide characteristic fingerprints of compounds and contain structural
                    information: a subset of fragment peaks may correspond to a shared chemical substructure.
                    This site lets users perform unsupervised substructure discovery, decompose experiments into
                    Mass2Motifs (recurring sets of fragments/losses) and integrate these motifs with comparative
                    metabolomics data.
                </p>

                <p>
                    <strong>How does it work?</strong>  In
                    <a href="http://www.pnas.org/content/113/48/13738.abstract" target="_blank">MS2LDA</a>,
                    discrete fragment and neutral-loss features are extracted from spectra; co-occurring features are
                    detected with
                    <a href="https://en.wikipedia.org/wiki/Latent_Dirichlet_allocation" target="_blank">Latent Dirichlet
                    Allocation</a>.  The analogy to text-topic modelling is illustrated below.
                </p>

                <p class="text-center">
                    <img src="{% static 'images/text2frags.png' %}" alt="Text2Frags" class="img-responsive center-block"
                         style="max-width:50%;"/>
                </p>

                <p>
                    The tool accepts mzML, MSP and MGF files; an MS1 peak list can optionally be matched before running
                    LDA or Decomposition.
                </p>
            </div>
        </div>

        <!-- ======================================================
             References panel
        ======================================================= -->
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>References</h4>
                <p>Key literature related to MS2LDA:</p>
                <ul>
                    <li>
                        Topic modelling for untargeted substructure exploration:
                        <a href="https://www.pnas.org/content/113/48/13738.short" target="_blank">
                            Rogers&nbsp;<em>et&nbsp;al.</em>, PNAS 2016</a>
                        and <a href="http://theses.gla.ac.uk/7928/" target="_blank">Joe&nbsp;Wandy&nbsp;PhD thesis</a>.
                    </li>
                    <li>
                        Original web application:
                        <a href="https://academic.oup.com/bioinformatics/article-abstract/34/2/317/4158166"
                           target="_blank">
                            Wandy&nbsp;<em>et&nbsp;al.</em>, Bioinformatics 2018</a>
                    </li>
                    <li>
                        MotifDB:
                        <a href="https://pubs.rsc.org/en/content/articlehtml/2019/fd/c8fd00235e" target="_blank">
                            van der Hooft&nbsp;<em>et&nbsp;al.</em>, Faraday Discuss. 2019</a>
                    </li>
                    <li>
                        <strong>MS2LDA 2.0 pre-print (coming&nbsp;2025)</strong> — code at
                        <a href="https://github.com/vdhooftcompmet/MS2LDA" target="_blank">
                            vdHooftCompMet/MS2LDA</a>.
                    </li>
                </ul>

                <p>
                    Other papers citing MS2LDA can be
                    <a href="https://scholar.google.com/scholar?oi=bibs&hl=en&cites=1717762026433522541"
                       target="_blank">found here</a>.
                </p>

                <p>
                    To host your own instance of the legacy site, see
                    <a href="https://github.com/glasgowcompbio/ms2ldaviz" target="_blank">
                        github.com/glasgowcompbio/ms2ldaviz</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
