{% extends 'base.html' %}

{% block body_block %}
<h3>Meet the people behind Ms2lda.org!</h3>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Dr. Simon Rogers</h4>
            <p>
                <img src="https://avatars2.githubusercontent.com/u/611683?v=3&s=400" alt="srogers" width="20%" class="pull-left img-responsive" style="padding:15px;" />
                Simon is a <a href="http://www.dcs.gla.ac.uk/~srogers/">a senior lecturer</a>  in the <a href="http://www.gla.ac.uk/schools/computing/">School of Computing Science</a>
                at the University of Glasgow.
                His research interest involves the development of Machine Learning and Statistical techniques to
                help with the analysis of complex datasets, particularly within the field of Metabolomics but also
                other -omics fields, Human-Computer Interaction and Information Retrieval.
                His metabolomics work is done in collaboration with many people, particularly
                <a href="http://www.polyomics.gla.ac.uk/">Glasgow Polyomics</a> (of which he's an affiliate member).
                <br/><br/>
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Dr. Justin van der Hooft</h4>
            <p>
                <img src="https://i.imgur.com/XWDWxps.jpg" alt="jjvdh" width="20%" class="pull-left img-responsive" style="padding:15px;" />
                Justin is <a href="http://www.polyomics.gla.ac.uk/biog-JustinvanderHooft.html">a mass spectrometry technologist</a>
                at <a href="http://www.polyomics.gla.ac.uk/">Glasgow Polyomics</a>, University of Glasgow.
                Justin conducted his thesis at <a href="http://www.wur.nl/en.htm">Wageningen University</a>, The Netherlands, where he developed his interests in systematic metabolite identification and annotation, and his fascination for the unravelling of complex biological extracts.
                In the MS2LDA project, Justin provides valuable biological data interpretations and insights that is crucial to the development of the system.
                <br/><br/>
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Dr. Joe Wandy</h4>
            <p>
                <img src="https://avatars2.githubusercontent.com/u/2523391?v=3&u=1084b6ef759d4f6e611da126eab7c5df791703d4&s=400" alt="joe" width="15%" class="pull-left img-responsive" style="padding:15px;" />
                Joe is a <a href="https://github.com/joewandy">data scientist</a>
                at <a href="http://www.polyomics.gla.ac.uk/">Glasgow Polyomics</a>, University of Glasgow. Before working at Glasgow Polyomics, Joe was a PhD student at the <a href="http://www.gla.ac.uk/schools/computing/">School of Computing Science</a>, supervised by Simon.
                His research interest is in natural language processing and the application of machine learning methods to the analysis of complex biological data.
                In particular, this also involves the necessary large-scale processing of data required prior to modelling and also the effective visualisations of analysis results.
                <br/><br/>
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Yunfeng (Frank) Zhu</h4>
            <p>
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAbFAAAAJDM4YjM1ZWI3LTczYTgtNDg4ZS1iZTZhLWNhM2JjMzNmZTY5MA.jpg" alt="frank" width="20%" class="pull-left img-responsive" style="padding:15px;" />
                Frank is a <a href="https://www.linkedin.com/in/yunfeng-frank-zhu-511995101/?ppe=1">data scientist</a> at the <a href="http://www.gla.ac.uk/researchinstitutes/iii/wtcmp/">Wellcome Centre for Molecular Parasitology</a>, University of Glasgow.
                His duties in the bioinformatics team include building biological pipelines and performing data analysis.
                Frank has an MSc in Artificial Intelligence from the University of Edinburgh.
                He is always keen learner on Machine Learning and new techniques, and he is passionate about working with data.
                <br/><br/><br/>
            </p>
        </div>
    </div>
</div>

{% endblock %}