{% extends 'base.html' %}

{% load static %}

{% block body_block %}
    <!-- ==========================================================
         Header banner
    =========================================================== -->
    <div>
        <img class="img-responsive"
             src="{% static 'images/banner.png' %}"
             alt="Banner" width="100%"/>
    </div>

    <!-- ==========================================================
         Partner logos
    =========================================================== -->
    <div class="row" style="margin-top:20px; text-align:center;">
        <div class="col-xs-4 col-sm-3">
            <a href="https://www.polyomics.gla.ac.uk/" target="_blank">
                <img src="{% static 'images/gp.png' %}" alt="gp"
                     class="img-responsive center-block" style="max-height:90px;">
            </a>
        </div>
        <div class="col-xs-4 col-sm-3">
            <a href="https://www.gla.ac.uk/" target="_blank">
                <img src="{% static 'images/uog.png' %}" alt="uog"
                     class="img-responsive center-block" style="max-height:45px;">
            </a>
        </div>
        <div class="col-xs-4 col-sm-3">
            <a href="https://www.wur.nl/en/wageningen-university.htm" target="_blank">
                <img src="{% static 'images/wu.svg' %}" alt="wu"
                     class="img-responsive center-block" style="max-height:45px;">
            </a>
        </div>
    </div>

    <!-- ==========================================================
         Navigation buttons
    =========================================================== -->
    <div class="text-center" style="margin-top:45px; margin-bottom:40px;">
        <a href="/basicviz"
           class="btn btn-default"
           style="opacity:0.8;"
           title="Legacy interface – planned deprecation">
           Go&nbsp;to&nbsp;Experiments&nbsp;(legacy)
        </a>
        <a href="/motifdb" class="btn btn-info">
            Go&nbsp;to&nbsp;MotifDB
        </a>
        <a href="/viz/" class="btn btn-success">
            Try&nbsp;the&nbsp;new&nbsp;Dashboard&nbsp;↗
        </a>
        <a href="https://twitter.com/vdHooft_CompMet" target="_blank"
           class="btn btn-default" style="margin-left:4px;">
           Follow&nbsp;us&nbsp;on&nbsp;X&nbsp;↗
        </a>
    </div>

    <!-- ==========================================================
         People panels
    =========================================================== -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <!-- Simon Rogers ------------------------------------ -->
            <div class="panel panel-default" style="margin-bottom:15px;">
                <div class="panel-heading"><h4 class="panel-title">Simon Rogers</h4></div>
                <div class="panel-body">
                    <img src="https://avatars2.githubusercontent.com/u/611683?v=3&s=400"
                         alt="srogers"
                         class="img-responsive img-thumbnail"
                         style="width:180px; margin:15px 15px 15px 0; float:left;">
                    Simon is an AI data scientist at NHS National Services Scotland, and an honorary lecturer in
                    Computer Science at the
                    <a href="http://www.dcs.gla.ac.uk/~srogers/" target="_blank">University&nbsp;of&nbsp;Glasgow</a>.
                    His research focuses on machine-learning and statistical techniques for complex data,
                    particularly in metabolomics, HCI, and information retrieval.
                </div>
            </div>

            <!-- Justin van der Hooft ----------------------------- -->
            <div class="panel panel-default" style="margin-bottom:15px;">
                <div class="panel-heading"><h4 class="panel-title">Justin van der Hooft</h4></div>
                <div class="panel-body">
                    <img src="{% static 'images/justinjjvanderhooft.jpeg' %}"
                         alt="jjvdh"
                         class="img-responsive img-thumbnail"
                         style="width:180px; margin:15px 15px 15px 0; float:left;">
                    After a PhD in Wageningen, Justin moved to Glasgow Polyomics and later became Assistant Professor
                    in Computational Metabolomics at Wageningen University. He co-founded the MS2LDA project and
                    continues to develop natural-language techniques for metabolome mining.
                    Publications are listed
                    <a href="https://scholar.google.nl/citations?user=zv9seLwAAAAJ&hl=en&oi=ao" target="_blank">here</a>.
                </div>
            </div>

            <!-- Joe Wandy ---------------------------------------- -->
            <div class="panel panel-default" style="margin-bottom:15px;">
                <div class="panel-heading"><h4 class="panel-title">Joe Wandy</h4></div>
                <div class="panel-body">
                    <img src="https://avatars2.githubusercontent.com/u/2523391?v=3&u=1084b6ef759d4f6e611da126eab7c5df791703d4&s=400"
                         alt="joe"
                         class="img-responsive img-thumbnail"
                         style="width:180px; margin:15px 15px 15px 0; float:left;">
                    Joe is a
                    <a href="https://github.com/joewandy" target="_blank">data scientist</a>
                    at <a href="http://www.polyomics.gla.ac.uk/" target="_blank">Glasgow&nbsp;Polyomics</a>. His PhD in
                    Computing Science explored natural-language processing and large-scale ML for biological data.
                </div>
            </div>

            <!-- Other contributors ------------------------------- -->
            <div class="panel panel-default" style="margin-bottom:15px;">
                <div class="panel-heading"><h4 class="panel-title">Other contributors</h4></div>
                <div class="panel-body">
                    <p>
                        The following people have contributed code, patches and new features&mdash;MS2LDA would not be
                        where it is today without their help:
                    </p>
                    <ul>
                        <li>
                            <a href="https://scholar.google.com/citations?user=JWTsNqgAAAAJ&hl=en&oi=ao"
                               target="_blank">Rónán&nbsp;Daly</a> and
                            <a href="https://www.polyomics.gla.ac.uk/" target="_blank">Glasgow&nbsp;Polyomics</a> &mdash;
                            website hosting.
                        </li>
                        <li><a href="https://github.com/n-elie" target="_blank">Nicolas&nbsp;Elie</a> &mdash; porting to Python&nbsp;3.</li>
                        <li><a href="https://www.esciencecenter.nl/team/dr-lars-ridder" target="_blank">Lars&nbsp;Ridder</a> &mdash; MAGMa integration.</li>
                        <li><a href="https://www.esciencecenter.nl/team/stefan-verhoeven-bsc" target="_blank">Stefan&nbsp;Verhoeven</a> &mdash; Gensim integration.</li>
                        <li><a href="https://github.com/ymcdull" target="_blank">Yunfeng&nbsp;(Frank)&nbsp;Zhu</a> &mdash; MS1 analysis module.</li>
                        <li><a href="https://www.researchgate.net/profile/Cher-Ong" target="_blank">Ong&nbsp;Cher&nbsp;Wei</a> &mdash; ClassyFire module.</li>
                        <li><a href="https://github.com/j-a-dietrich" target="_blank">Jonas&nbsp;Dietrich</a> &mdash; core developer of the MS2LDA&nbsp;2.0 modernisation&nbsp;effort (<a href="https://github.com/vdhooftcompmet/MS2LDA" target="_blank">preprint soon</a>).</li>
                        <li><a href="https://github.com/rtlortega" target="_blank">Rosina&nbsp;Torres&nbsp;Ortega</a> &mdash; core developer of the MS2LDA&nbsp;2.0 modernisation&nbsp;effort.</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
