{% extends 'base.html' %}

{% block title %}User Registration{% endblock %}

{% block body_block %}
    <div class="row" style="margin-top:60px;">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

            <h3 class="text-center">User&nbsp;Registration</h3>

            {% if registered %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <div class="alert alert-success" style="margin-top:25px;">
                    <strong>Thank you for registering!</strong><br/>
                    Your account is now active &mdash; you can run analyses by
                    <a href="/registration/login">logging&nbsp;in</a>.
                </div>

            {% else %}

                <p class="text-center" style="margin-bottom:25px;">
                    Register at&nbsp;MS2LDA.org to run LDA analyses or create your own motif-sets.
                </p>

                <div class="panel panel-default"
                     style="border-radius:6px; box-shadow:0 2px 5px rgba(0,0,0,.2);">
                    <div class="panel-heading"
                         style="background:#2c3e50; color:#fff; border-top-left-radius:6px; border-top-right-radius:6px;">
                        <h4 class="panel-title" style="margin:0;">Create&nbsp;an&nbsp;Account</h4>
                    </div>

                    <div class="panel-body" style="padding:30px;">

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}

                        <form method="post" action="/registration/register/">
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            <!-- username / password -->
                            <div class="form-group{% if user_form.username.errors %} has-error{% endif %}">
                                {{ user_form.username.label_tag }}
                                {{ user_form.username }}
                                {{ user_form.username.errors }}
                            </div>

                            <div class="form-group{% if user_form.password1.errors %} has-error{% endif %}">
                                {{ user_form.password1.label_tag }}
                                {{ user_form.password1 }}
                                {{ user_form.password1.errors }}
                            </div>

                            <div class="form-group{% if user_form.password2.errors %} has-error{% endif %}">
                                {{ user_form.password2.label_tag }}
                                {{ user_form.password2 }}
                                {{ user_form.password2.errors }}
                            </div>

                            <hr/>

                            <!-- personal data -->
                            <div class="form-group{% if user_form.first_name.errors %} has-error{% endif %}">
                                {{ user_form.first_name.label_tag }}
                                {{ user_form.first_name }}
                                {{ user_form.first_name.errors }}
                            </div>

                            <div class="form-group{% if user_form.last_name.errors %} has-error{% endif %}">
                                {{ user_form.last_name.label_tag }}
                                {{ user_form.last_name }}
                                {{ user_form.last_name.errors }}
                            </div>

                            <div class="form-group{% if user_form.email.errors %} has-error{% endif %}">
                                {{ user_form.email.label_tag }}
                                {{ user_form.email }}
                                {{ user_form.email.errors }}
                            </div>

                            <div class="form-group{% if profile_form.affiliation.errors %} has-error{% endif %}">
                                {{ profile_form.affiliation.label_tag }}
                                {{ profile_form.affiliation }}
                                {{ profile_form.affiliation.errors }}
                            </div>

                            <div class="form-group{% if profile_form.country.errors %} has-error{% endif %}">
                                {{ profile_form.country.label_tag }}
                                {{ profile_form.country }}
                                {{ profile_form.country.errors }}
                            </div>

                            <!-- honeypot -->
                            <input type="text" name="foo" style="display:none;">

                            <!-- submit -->
                            <button type="submit" class="btn btn-success btn-block">
                                Register
                            </button>

                            <hr style="margin:30px 0 20px;">

                            <p class="text-center">
                                Already have an account?
                                <a href="{% url 'login' %}" class="btn btn-primary">
                                    Log&nbsp;In
                                </a>
                            </p>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
